header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 20px;
}

header img {
    width: 50px;
    height: 50px;
}

.logo {
    display: flex;
    color: white;
    text-decoration: black;
    margin-right: 10px;
}
